*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/build.gradle
app/proguard-rules.pro
app/src/AndroidTest
app/src/test
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
*.jks
*.txt
*tmp*
*.json